altair
basemap
basemap-data
cartopy
contourpy
copernicusmarine
cubes
datetime
duckdb
dumper
erddap-python
erddapy
fitz-utils
folium
ftputil
geodatasets
geopandas
gsw
imgkit
lxml
matplotlib
matplotlib-inline
netcdf4
numpy
obspy
pandas
pdfkit
plotly
pykml
pymupdf
pyproj
pydap
pykml
s3transfer
scikit-learn
scipy
seawater
selenium
shapely
#sklearn
tinycss2
tzdata
unicode
unidecode
urllib3
wkhtmltopdf
xarray
zarr
zipp
