altair
basemap
basemap-data
Cartopy
contourpy
copernicusmarine
cubes
DateTime
duckdb
Dumper
erddap-python
erddapy
fitz-utils
folium
ftputil
geodatasets
geopandas
gsw
imgkit
ipyleaflet
ipywidgets
lxml
matplotlib
matplotlib-inline
netCDF4
numpy
obspy
OWSLib
pandas
pdfkit
plotly
pykml
PyMuPDF
pyproj
pydap
pykml
s3transfer
scikit-learn
scipy
seawater
selenium
shapely
tinycss2
tzdata
unicode
Unidecode
urllib3
wkhtmltopdf
xarray
xarray_leaflet
zarr
zipp
